@model IEnumerable<TiendaNET_CesarGayo.ProductoSet>

@{
    ViewBag.Title = "CompraRealizada";
}

<h2>CompletePurchase</h2>

<h3>Compra Acceptada !</h3>

@Html.ActionLink("Regresar a la lista de Productos", "Producto", "Home");
